Repository fabric8io/fabric8-test, pull requests merged in 2018-04, with the labels that each got.

#571 ee_tests: booster_setup - Close Che tab window before logout.
  ee_tests/src/booster_ee_int_tests/booster_setup.spec.ts
Labels: E2E-test, booster-test

#575 ee_tests: booster_setup - Update tests for the UI changes
  ee_tests/src/booster_ee_int_tests/booster_setup.spec.ts
  ee_tests/src/page_objects/launcher_setup_app.page.ts
  ee_tests/src/page_objects/main_dashboard.page.ts
  ee_tests/src/page_objects/space_dashboard/add_to_space_dialog.ts
Labels: E2E-test, booster-test

#585 ee_tests: booster_setup - Update new launcher link text.
  ee_tests/src/page_objects/space_dashboard/add_to_space_dialog.ts
Labels: E2E-test, booster-test

#604 perf_tests: booster-che-workspace - Implement ngx launcher
  perf_tests/osioperf/jenkins-jobs/booster-che-workspace.yml
  perf_tests/osioperf/scripts/booster-che-workspace/README.md
  perf_tests/osioperf/scripts/booster-che-workspace/_clean-locally.sh
  perf_tests/osioperf/scripts/booster-che-workspace/_execute-template.sh
  perf_tests/osioperf/scripts/booster-che-workspace/_generate-meta.sh
  perf_tests/osioperf/scripts/booster-che-workspace/_metrics.meta
  perf_tests/osioperf/scripts/booster-che-workspace/_prepare-locustfile.sh
  perf_tests/osioperf/scripts/booster-che-workspace/_setenv.sh
  perf_tests/osioperf/scripts/booster-che-workspace/booster-che-workspace.py
Labels: E2E-test, booster-test, perf-test

#551 ee_test: added test to verify deployment to stage and run
  ee_tests/src/booster_ee_int_tests/booster_pipeline.spec.ts
Labels: E2E-test, booster-test

#617 ee_test: Fix local_osio.conf.sh.template typo
  ee_tests/config/local_osio.conf.sh.template
Labels: E2E-test

#618 perf_tests: booster-che-workspace - Add prerequisities into README.md
  perf_tests/osioperf/scripts/booster-che-workspace/README.md
Labels: E2E-test, booster-test, perf-test

#626 perf_tests: booster-che-workspace - Wait for jenkins pod in OpenShift…
  perf_tests/osioperf/scripts/booster-che-workspace/README.md
  perf_tests/osioperf/scripts/booster-che-workspace/_metrics.meta
  perf_tests/osioperf/scripts/booster-che-workspace/booster-che-workspace.py
Labels: E2E-test, booster-test, perf-test

#629 perf_tests: booster-che-workspace - Save browser log on failure.
  perf_tests/osioperf/scripts/booster-che-workspace/booster-che-workspace.py
Labels: E2E-test, booster-test, perf-test

#632 perf_tests: booster-che-workspace - Disable waiting for jenkins after…
  perf_tests/osioperf/scripts/booster-che-workspace/_metrics.meta
  perf_tests/osioperf/scripts/booster-che-workspace/booster-che-workspace.py
Labels: E2E-test, booster-test, perf-test

#630 npm script updated not to download Firefox driver (part of #628)
  ee_tests/package.json
Labels: E2E-test

#631 timeouts added to wait statements
  ee_tests/src/page_objects/space_pipeline.page.ts
  ee_tests/src/page_objects/user_profile.page.ts
Labels: E2E-test
