Repository fabric8io/fabric8-test, pull requests merged in 2018-03, with the labels that each got.

#509 fix(test): poc test for junit tests running in Che
  ee_tests/protractorTS.config.ts
  ee_tests/src/page_objects/space_cheworkspace.page.ts
  ee_tests/src/quickstart_chejunit.spec.ts
  ee_tests/src/support/core.ts
Labels: Do Not Merge, E2E-test

#513 Editor che test POC
  ee_tests/protractorTS.config.ts
  ee_tests/src/booster_ee_int_tests/quickstart_che_editor.spec.ts
  ee_tests/src/booster_ee_int_tests/quickstart_chejunit.spec.ts
  ee_tests/src/booster_ee_int_tests/quickstart_cheterminal.spec.ts
  ee_tests/src/page_objects/space_cheworkspace.page.ts
Labels: Do Not Merge, E2E-test

#519 fix(test): Start of test suite for boosters
  ee_tests/protractorTS.config.ts
  ee_tests/src/booster_ee_int_tests/booster_login.spec.ts
Labels: booster-test

#536 [perf_test] booster-che-workspace: Update for the latest UI.
  perf_tests/osioperf/scripts/booster-che-workspace/booster-che-workspace.py
Labels: E2E-test, booster-test, perf-test

#495 Refactoring of Deployments page
  ee_tests/src/local/local.template.ts
  ee_tests/src/page_objects/space_deployments.page.ts
  ee_tests/src/quickstart_deployments.spec.ts
  ee_tests/src/support/core.ts
Labels: E2E-test

#534 ee_tests/booster_build_maven: Run maven build in Che Workspace.
  ee_tests/src/booster_ee_int_tests/booster_build_maven.spec.ts
  ee_tests/src/booster_ee_int_tests/booster_setup.spec.ts
  ee_tests/src/page_objects/space_cheworkspace.page.ts
  ee_tests/src/support/core.ts
Labels: E2E-test, booster-test

#547 ee_tests: Make sure 'Reset Environment' button is visible.
  ee_tests/src/page_objects/user_profile.page.ts
Labels: E2E-test, enhancement

#555 [perf_test] booster-che-workspace: Update quickstart button selector …
  perf_tests/osioperf/scripts/booster-che-workspace/booster-che-workspace.py
Labels: E2E-test, booster-test, perf-test

#557 ee_tests: booster_run_project - Implement scenario.
  ee_tests/src/booster_ee_int_tests/booster_run_project.spec.ts
  ee_tests/src/page_objects/space_cheworkspace.page.ts
Labels: E2E-test, booster-test

#560 ee_tests: booster_oso_project - Check the success of importing github…
  ee_tests/src/booster_ee_int_tests/booster_oso_project.spec.ts
Labels: E2E-test, booster-test

#565 (fix) ee_tests: Make GITHUB_PASSWORD optional
  ee_tests/ts-protractor.sh
Labels: E2E-test

#566 (fix) ee_tests: Set default value for NGX_LAUNCHER_ENABLED
  ee_tests/ts-protractor.sh
Labels: E2E-test
