Repository fabric8io/fabric8-test, pull requests merged in 2018-10, with the labels that each got.

#1050 fix(test): initial POC test for BDD and analytics report
  booster_bdd/features/src/launchBooster.py
  booster_bdd/features/src/stackAnalyses.py
  booster_bdd/features/src/support/helpers.py
  booster_bdd/features/stackAnalyses.feature
  booster_bdd/features/steps/stackAnalyses.py
Labels: BDD-test, booster-test

#1097 perf-tests: Update workshop-demo for changed UI.
  perf_tests/osioperf/scripts/workshop-demo/workshop-demo.py
Labels: E2E-test, booster-test, perf-test

#1078 fix(test): enable the analyses test
  booster_bdd/features/src/stackAnalyses.py
  booster_bdd/test-scenarios/launch-booster.test
  booster_bdd/test.sh
Labels: BDD-test, booster-test

#1063 contract-tests: Add PoC for OSIO Auth contract tests.
  contract_tests/go/auth-api/.gitignore
  contract_tests/go/auth-api/README.md
  contract_tests/go/auth-api/auth_api_status.go
  contract_tests/go/auth-api/auth_api_user.go
  contract_tests/go/auth-api/config/config.sh.example
  contract_tests/go/auth-api/consumer_test.go
  contract_tests/go/auth-api/provider_setup.go
  contract_tests/go/auth-api/provider_test.go
  contract_tests/go/auth-api/publish-contracts.sh
  contract_tests/go/auth-api/test-consumer.sh
  contract_tests/go/auth-api/test-provider.sh
  contract_tests/go/auth-api/verify-providers-from-broker.sh
  contract_tests/go/auth-api/verify-providers-from-file.sh
Labels: API-test

#1116 fix(test): add install command to README
  contract_tests/go/auth-api/README.md
  contract_tests/go/auth-api/auth_api_status.go
  contract_tests/go/auth-api/auth_api_user.go
Labels: contract-test
