Repository fabric8io/fabric8-test, pull requests merged in 2018-11, with the labels that each got.

#1124 fix(test): Expand test descriptions in README file
  contract_tests/go/auth-api/README.md
Labels: contract-test

#1135 contract-tests: Prepare provider with user.
  contract_tests/go/auth-api/.gitignore
  contract_tests/go/auth-api/auth_api_status.go
  contract_tests/go/auth-api/auth_api_user.go
  contract_tests/go/auth-api/config/config.sh.example
  contract_tests/go/auth-api/consumer_test.go
  contract_tests/go/auth-api/data.go
  contract_tests/go/auth-api/provider_setup.go
  contract_tests/go/auth-api/provider_test.go
  contract_tests/go/auth-api/publish-contracts.sh
  contract_tests/go/auth-api/support/.gitignore
  contract_tests/go/auth-api/support/docker-compose.yml
  contract_tests/go/auth-api/support/start-local-auth.sh
  contract_tests/go/auth-api/support/start-local-pact-broker.sh
  contract_tests/go/auth-api/verify-providers-from-broker.sh
  contract_tests/go/auth-api/verify-providers-from-file.sh
Labels: contract-test

#1169 booster-bdd: Update importBooster feature impl.
  booster_bdd/features/steps/importBooster.py
Labels: BDD-test

#1174 booster-bdd: Reduce CICO job console by redirecting to test.log
  booster_bdd/cico_run_booster_tests.sh
Labels: BDD-test, Do Not Merge

#1183 perf-tests: Dockerize workshop-demo.
  perf_tests/osioperf/scripts/workshop-demo/Dockerfile.builder
  perf_tests/osioperf/scripts/workshop-demo/cico_run_perf_test.sh
  perf_tests/osioperf/scripts/workshop-demo/google-chrome.repo
  perf_tests/osioperf/scripts/workshop-demo/requirements.txt
  perf_tests/osioperf/scripts/workshop-demo/run.sh
Labels: perf-test
