Repository fabric8io/fabric8-test, pull requests merged in 2018-07, with the labels that each got.

#841 booster-api: Add test results reporting.
  booster_api/.gitignore
  booster_api/config/config.sh
  booster_api/features/src/importBooster.py
  booster_api/features/src/pipeline.py
  booster_api/features/src/space.py
  booster_api/features/src/stage.py
  booster_api/features/src/support/helpers.py
  booster_api/features/steps/createSpace.py
  booster_api/features/steps/import.py
  booster_api/features/steps/loginUser.py
  booster_api/features/steps/tutorial.py
  booster_api/features/steps/verifyPipeline.py
  booster_api/features/steps/verifyRun.py
  booster_api/features/steps/verifyStage.py
  booster_api/run.sh
Labels: API-test, booster-test

#843 booster-api: Add content to the README.md
  booster_api/.gitignore
  booster_api/README
  booster_api/README.md
  booster_api/run.sh
Labels: booster-test

#845 booster-bdd: Rename booster_api directory to booster_bdd.
  booster_bdd/.gitignore
  booster_bdd/README.md
  booster_bdd/config/config.sh
  booster_bdd/features/.gitignore
  booster_bdd/features/00_loginUser.feature
  booster_bdd/features/05_resetEnvironment.feature
  booster_bdd/features/10_createSpace.feature
  booster_bdd/features/20_importBooster.feature
  booster_bdd/features/30_verifyPipeline.feature
  booster_bdd/features/40_verifyStage.feature
  booster_bdd/features/50_verifyRun.feature
  booster_bdd/features/src/__init__.py
  booster_bdd/features/src/importBooster.py
  booster_bdd/features/src/pipeline.py
  booster_bdd/features/src/resetEnv.py
  booster_bdd/features/src/space.py
  booster_bdd/features/src/stage.py
  booster_bdd/features/src/support/__init__.py
  booster_bdd/features/src/support/booster_jsons/new_import.json
  booster_bdd/features/src/support/constants.py
  booster_bdd/features/src/support/helpers.py
  booster_bdd/features/src/support/loginusers_oauth2.py
  booster_bdd/features/src/support/moduletest.py
  booster_bdd/features/src/support/planner_jsons/add_wi_comment.json
  booster_bdd/features/src/support/planner_jsons/add_wi_label.json
  booster_bdd/features/src/support/planner_jsons/add_wi_labels.json
  booster_bdd/features/src/support/planner_jsons/create_child_area.json
  booster_bdd/features/src/support/planner_jsons/create_child_iteration.json
  booster_bdd/features/src/support/planner_jsons/create_label.json
  booster_bdd/features/src/support/planner_jsons/create_space_scrum.json
  booster_bdd/features/src/support/planner_jsons/create_space_sdd.json
  booster_bdd/features/src/support/planner_jsons/create_wi_hierarchy.json
  booster_bdd/features/src/support/planner_jsons/create_wi_in_backlog.json
  booster_bdd/features/src/support/planner_jsons/create_wi_in_backlog_scrum.json
  booster_bdd/features/src/support/planner_jsons/create_wi_in_iter.json
  booster_bdd/features/src/support/planner_jsons/create_wi_in_iter_scrum.json
  booster_bdd/features/src/support/planner_jsons/edit_wi_assignee.json
  booster_bdd/features/src/support/planner_jsons/edit_wi_desc.json
  booster_bdd/features/src/support/planner_jsons/edit_wi_state.json
  booster_bdd/features/src/support/planner_jsons/enable_experimental.json
  booster_bdd/features/steps/createSpace.py
  booster_bdd/features/steps/import.py
  booster_bdd/features/steps/loginUser.py
  booster_bdd/features/steps/resetEnv.py
  booster_bdd/features/steps/verifyPipeline.py
  booster_bdd/features/steps/verifyRun.py
  booster_bdd/features/steps/verifyStage.py
  booster_bdd/features/tutorial.feature
  booster_bdd/features_list.txt
  booster_bdd/run.sh
  booster_bdd/setup.cfg
Labels: booster-test

#853 booster-bdd: Fix python code errors find by check-PEP8-style.
  booster_bdd/features/src/pipeline.py
  booster_bdd/features/src/resetEnv.py
  booster_bdd/features/src/run.py
  booster_bdd/features/src/stage.py
  booster_bdd/features/src/support/helpers.py
  booster_bdd/features/src/support/loginusers_oauth2.py
  booster_bdd/features/src/support/moduletest.py
  booster_bdd/features/steps/createSpace.py
  booster_bdd/features/steps/import.py
  booster_bdd/features/steps/resetEnv.py
  booster_bdd/features/steps/verifyPipeline.py
  booster_bdd/features/steps/verifyRun.py
  booster_bdd/features/steps/verifyStage.py
Labels: BDD-test, booster-test

#865 fix(test): initial commit of configuring booster test to run on centos ci
  booster_bdd/Dockerfile.builder
  booster_bdd/features/src/support/loginusers_oauth2.py
  booster_bdd/google-chrome.repo
  booster_bdd/local_cico_run_booster_tests.sh
  booster_bdd/package-lock.json
  booster_bdd/package.json
  booster_bdd/run.sh
Labels: BDD-test, booster-test

#864 booster-bdd: Reorganize to support multiple test scenarios.
  booster_bdd/README.md
  booster_bdd/config/config.sh
  booster_bdd/config/prod-preview.sh
  booster_bdd/features/createSpace.feature
  booster_bdd/features/environment.py
  booster_bdd/features/importBooster.feature
  booster_bdd/features/loginUser.feature
  booster_bdd/features/resetEnvironment.feature
  booster_bdd/features/src/support/helpers.py
  booster_bdd/features/steps/createSpace.py
  booster_bdd/features/steps/importBooster.py
  booster_bdd/features/steps/loginUser.py
  booster_bdd/features/steps/resetEnvironment.py
  booster_bdd/features/tutorial.feature
  booster_bdd/features/verifyPipeline.feature
  booster_bdd/features/verifyRun.feature
  booster_bdd/features/verifyStage.feature
  booster_bdd/features_list.txt
  booster_bdd/run.sh
  booster_bdd/test-scenarios/.gitignore
  booster_bdd/test-scenarios/import-repo.test
  booster_bdd/test-scenarios/reset-environment.test
Labels: BDD-test, booster-test

#871 booster-bdd: Split pipeline steps.
  booster_bdd/features/src/pipeline.py
  booster_bdd/features/steps/createSpace.py
  booster_bdd/features/steps/verifyPipeline.py
  booster_bdd/features/verifyPipeline.feature
Labels: BDD-test, booster-test

#875 booster-bdd: Wrap the execution by the virtualenv, switch to python3
  booster_bdd/.gitignore
  booster_bdd/Dockerfile.builder
  booster_bdd/README.md
  booster_bdd/check-PEP8-style.sh
  booster_bdd/features/src/importBooster.py
  booster_bdd/features/src/pipeline.py
  booster_bdd/features/src/resetEnv.py
  booster_bdd/features/src/run.py
  booster_bdd/features/src/space.py
  booster_bdd/features/src/stage.py
  booster_bdd/features/src/support/helpers.py
  booster_bdd/features/src/support/loginusers_oauth2.py
  booster_bdd/features/steps/createSpace.py
  booster_bdd/features/steps/importBooster.py
  booster_bdd/features/steps/loginUser.py
  booster_bdd/features/steps/resetEnvironment.py
  booster_bdd/features/steps/verifyPipeline.py
  booster_bdd/features/steps/verifyRun.py
  booster_bdd/features/steps/verifyStage.py
  booster_bdd/features/verifyPipeline.feature
  booster_bdd/local_cico_run_booster_tests.sh
  booster_bdd/requirements.txt
  booster_bdd/run.sh
  self_tests/check-PEP8-style.sh
Labels: BDD-test, booster-test

#886 booster-bdd: Use pyshould library instead of asserts.
  booster_bdd/features/src/pipeline.py
  booster_bdd/features/steps/createSpace.py
  booster_bdd/features/steps/importBooster.py
  booster_bdd/features/steps/loginUser.py
  booster_bdd/features/steps/resetEnvironment.py
  booster_bdd/features/steps/verifyPipeline.py
  booster_bdd/features/steps/verifyRun.py
  booster_bdd/features/steps/verifyStage.py
  booster_bdd/requirements.txt
Labels: BDD-test, booster-test

#893 booster-bdd: Update github repo when launching a booster.
  booster_bdd/config/config.sh
  booster_bdd/config/prod-preview.sh
  booster_bdd/features/src/launchBooster.py
  booster_bdd/features/src/pipeline.py
  booster_bdd/features/src/support/helpers.py
  booster_bdd/features/steps/importBooster.py
  booster_bdd/features/steps/launchBooster.py
  booster_bdd/local_cico_run_booster_tests.sh
Labels: BDD-test, booster-test

#894 fix(test): update README file to reflect user input
  booster_bdd/README.md
Labels: BDD-test, booster-test

#896 booster-bdd: Introduce tags for danger zone - skipped by default.
  booster_bdd/README.md
  booster_bdd/config/config.sh
  booster_bdd/config/prod-preview.sh
  booster_bdd/features/createSpace.feature
  booster_bdd/features/importBooster.feature
  booster_bdd/features/launchBooster.feature
  booster_bdd/features/loginUser.feature
  booster_bdd/features/resetEnvironment.feature
  booster_bdd/features/verifyPipeline.feature
  booster_bdd/features/verifyRun.feature
  booster_bdd/features/verifyStage.feature
  booster_bdd/local_cico_run_booster_tests.sh
  booster_bdd/run.sh
Labels: BDD-test, booster-test

#897 booster-bdd: Reorder commands in Dockerfile.
  booster_bdd/Dockerfile.builder
Labels: BDD-test, booster-test
