Repository fabric8io/fabric8-test, pull requests merged in 2018-05, with the labels that each got.

#643 Chrome switched back to stable
  ee_tests/Dockerfile.builder
  ee_tests/cico_build_deploy.sh
Labels: E2E-test

#657 Created Zabbix reporter
  ee_tests/cico_run_EE_tests_ts.sh
  ee_tests/protractor.config.ts
  ee_tests/src/quickstart_deployments.spec.ts
  ee_tests/src/support/zabbix_reporter.ts
  ee_tests/ts-protractor.sh
Labels: E2E-test

#681 Fix create space text field and getting real feature level.
  ee_tests/src/page_objects/user_settings.page.ts
Labels: E2E-test

#704 Update Add to Space button selector
  ee_tests/src/page_objects/space_dashboard.page.ts
Labels: E2E-test, booster-test, enhancement

#621 Booster import to space
  ee_tests/protractor.config.ts
  ee_tests/src/booster_ee_int_tests/booster_cleanup.spec.ts
  ee_tests/src/booster_ee_int_tests/booster_import_to_space.spec.ts
  ee_tests/src/booster_ee_int_tests/booster_pipeline.spec.ts
  ee_tests/src/page_objects/launcher_section.ts
  ee_tests/src/page_objects/space_dashboard.page.ts
  ee_tests/src/support/core.ts
Labels: E2E-test, booster-test

#710 Reorganized Dockerfile
  ee_tests/Dockerfile.builder
Labels: Do Not Merge
