Repository fabric8io/fabric8-test, pull requests merged in 2018-06, with the labels that each got.

#706 Add tests to check markdown component in return from backend
  EE_API_automation/pytest/src/test_planner.py
Labels: API-test

#738 fix(test): initial POC for BDD booster service integration tests
  booster_api/README
  booster_api/features/.gitignore
  booster_api/features/1_createSpace.feature
  booster_api/features/2_importBooster.feature
  booster_api/features/3_verifyPipeline.feature
  booster_api/features/4_verifyStage.feature
  booster_api/features/5_verifyRun.feature
  booster_api/features/src/__init__.py
  booster_api/features/src/poc2.py
  booster_api/features/src/support/__init__.py
  booster_api/features/src/support/booster_jsons/new_import.json
  booster_api/features/src/support/constants.py
  booster_api/features/src/support/helpers.py
  booster_api/features/src/support/moduletest.py
  booster_api/features/src/support/planner_jsons/add_wi_comment.json
  booster_api/features/src/support/planner_jsons/add_wi_label.json
  booster_api/features/src/support/planner_jsons/add_wi_labels.json
  booster_api/features/src/support/planner_jsons/create_child_area.json
  booster_api/features/src/support/planner_jsons/create_child_iteration.json
  booster_api/features/src/support/planner_jsons/create_label.json
  booster_api/features/src/support/planner_jsons/create_space_scrum.json
  booster_api/features/src/support/planner_jsons/create_space_sdd.json
  booster_api/features/src/support/planner_jsons/create_wi_hierarchy.json
  booster_api/features/src/support/planner_jsons/create_wi_in_backlog.json
  booster_api/features/src/support/planner_jsons/create_wi_in_backlog_scrum.json
  booster_api/features/src/support/planner_jsons/create_wi_in_iter.json
  booster_api/features/src/support/planner_jsons/create_wi_in_iter_scrum.json
  booster_api/features/src/support/planner_jsons/edit_wi_assignee.json
  booster_api/features/src/support/planner_jsons/edit_wi_desc.json
  booster_api/features/src/support/planner_jsons/edit_wi_state.json
  booster_api/features/src/support/planner_jsons/enable_experimental.json
  booster_api/features/steps/createSpace.py
  booster_api/features/steps/import.py
  booster_api/features/steps/tutorial.py
  booster_api/features/steps/verifyPipeline.py
  booster_api/features/steps/verifyRun.py
  booster_api/features/steps/verifyStage.py
  booster_api/features/tutorial.feature
  booster_api/features_list.txt
Labels: booster-test

#745 booster_api: Implement user login.
  booster_api/features/0_loginUser.feature
  booster_api/features/src/poc2.py
  booster_api/features/src/support/helpers.py
  booster_api/features/src/support/loginusers_oauth2.py
  booster_api/features/steps/createSpace.py
  booster_api/features/steps/loginUser.py
  booster_api/features_list.txt
  booster_api/run.sh
Labels: API-test, booster-test

#759 Implement PoC Create a space feature.
  booster_api/features/src/space.py
  booster_api/features/src/support/helpers.py
  booster_api/features/steps/createSpace.py
  booster_api/run.sh
Labels: API-test, booster-test

#763 Use helpers' spaceID only.
  booster_api/features/steps/createSpace.py
Labels: API-test, booster-test

#770 perf_tests/user-login: Update for new Common.
  perf_tests/osioperf/jenkins-jobs/user-login.yml
  perf_tests/osioperf/scripts/user-login/.gitignore
  perf_tests/osioperf/scripts/user-login/__zabbix-process-load.sh
  perf_tests/osioperf/scripts/user-login/_clean-locally.sh
  perf_tests/osioperf/scripts/user-login/_execute-template.sh
  perf_tests/osioperf/scripts/user-login/_generate-meta.sh
  perf_tests/osioperf/scripts/user-login/_prepare-locustfile.sh
  perf_tests/osioperf/scripts/user-login/_setenv.sh
  perf_tests/osioperf/scripts/user-login/_zabbix-process-results-template.sh
  perf_tests/osioperf/scripts/user-login/results-template.md
  perf_tests/osioperf/scripts/user-login/run.sh
  perf_tests/osioperf/scripts/user-login/user-login.py
Labels: E2E-test, booster-test, perf-test

#771 Update for the new Common.
  perf_tests/osioperf/jenkins-jobs/workshop-demo.yml
  perf_tests/osioperf/scripts/workshop-demo/README.md
  perf_tests/osioperf/scripts/workshop-demo/__zabbix-process-load.sh
  perf_tests/osioperf/scripts/workshop-demo/_clean-locally.sh
  perf_tests/osioperf/scripts/workshop-demo/_execute-template.sh
  perf_tests/osioperf/scripts/workshop-demo/_generate-meta.sh
  perf_tests/osioperf/scripts/workshop-demo/_metrics.meta
  perf_tests/osioperf/scripts/workshop-demo/_prepare-locustfile.sh
  perf_tests/osioperf/scripts/workshop-demo/_prepare_env.sh
  perf_tests/osioperf/scripts/workshop-demo/_setenv.sh
  perf_tests/osioperf/scripts/workshop-demo/_zabbix-process-results-template.sh
  perf_tests/osioperf/scripts/workshop-demo/results-template.md
  perf_tests/osioperf/scripts/workshop-demo/run.sh
  perf_tests/osioperf/scripts/workshop-demo/workshop-demo.py
Labels: E2E-test, booster-test, perf-test

#772 perf-tests: workshop-demo: Use str.format() function for string concatenation
  perf_tests/osioperf/scripts/workshop-demo/workshop-demo.py
Labels: E2E-test, booster-test, perf-test

#776 booster-api: Login to OSO to get username and token.
  booster_api/run.sh
Labels: API-test, booster-test

#777 booster-api: Implement environment reset.
  booster_api/features/00_loginUser.feature
  booster_api/features/05_resetEnvironment.feature
  booster_api/features/10_createSpace.feature
  booster_api/features/20_importBooster.feature
  booster_api/features/30_verifyPipeline.feature
  booster_api/features/40_verifyStage.feature
  booster_api/features/50_verifyRun.feature
  booster_api/features/src/resetEnv.py
  booster_api/features/steps/resetEnv.py
  booster_api/features_list.txt
  booster_api/run.sh
Labels: API-test, booster-test

#783 booster-api: Fix tenant clean by adding a PATCH request after DELETE.
  booster_api/features/src/resetEnv.py
Labels: API-test, booster-test

#780 fix(test): some usernames may include '@redhat.com", etc.
  booster_api/features/src/poc_stage.py
  booster_api/run.sh
Labels: booster-test

#784 booster-api: Extract a config part of run.sh into a config file.
  booster_api/config/config.sh
  booster_api/features/10_createSpace.feature
  booster_api/features/src/poc_stage.py
  booster_api/features/src/space.py
  booster_api/features/src/support/loginusers_oauth2.py
  booster_api/run.sh
Labels: API-test, booster-test

#789 booster-api: Rename poc2 to the importBooster.
  booster_api/features/20_importBooster.feature
  booster_api/features/src/import_booster.py
  booster_api/features/steps/import.py
Labels: booster-test

#809 perf_tests/workshop-demo: Fix cleaning.
  perf_tests/osioperf/scripts/workshop-demo/.gitignore
  perf_tests/osioperf/scripts/workshop-demo/_clean-locally.sh
Labels: E2E-test, booster-test, perf-test

#810 perf-tests: Update for merged commons.
  perf_tests/osioperf/scripts/user-login/run.sh
  perf_tests/osioperf/scripts/workshop-demo/run.sh
Labels: E2E-test, booster-test, perf-test

#802 booster-api: Implement promoting stage to run.
  booster_api/config/config.sh
  booster_api/features/20_importBooster.feature
  booster_api/features/src/poc_oso.py
Labels: API-test, booster-test

#817 E2E: Update launcher.spec test to work at internal level.
  ee_tests/src/launcher.spec.ts
Labels: E2E-test, booster-test

#839 perf_tests/workshop-demo: Workaround not working cancel button.
  perf_tests/osioperf/scripts/workshop-demo/.gitignore
  perf_tests/osioperf/scripts/workshop-demo/workshop-demo.py
Labels: E2E-test, booster-test, perf-test
